In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
customers = pd.read_csv('data/olist_customers_dataset.csv')
orders = pd.read_csv('data/olist_orders_dataset.csv')
order_items = pd.read_csv('data/olist_order_items_dataset.csv')
products = pd.read_csv('data/olist_products_dataset.csv')
sellers = pd.read_csv('data/olist_sellers_dataset.csv')
payments = pd.read_csv('data/olist_order_payments_dataset.csv')
order_reviews = pd.read_csv('data/olist_order_reviews_dataset.csv')
geolocation = pd.read_csv('data/olist_geolocation_dataset.csv')
reviews = pd.read_csv('data/olist_order_reviews_dataset.csv')
category_translation = pd.read_csv('data/product_category_name_translation.csv')

In [3]:
import pandas as pd

def inspect_data(df, name="DataFrame"):
    """Simple but comprehensive data inspection"""
    
    print(f"\n{'='*60}")
    print(f"INSPECTING: {name}")
    print(f"{'='*60}\n")
    
    # Basic info
    print(f"Shape: {df.shape[0]:,} rows x {df.shape[1]} columns\n")
    
    # Column overview
    print("Column Overview:")
    print(f"{'Column':<30} {'Type':<15} {'Nulls':<10} {'Unique':<10}")
    print("-" * 65)
    for col in df.columns:
        dtype = str(df[col].dtype)
        nulls = f"{df[col].isnull().sum()} ({df[col].isnull().sum()/len(df)*100:.1f}%)"
        unique = df[col].nunique()
        print(f"{col:<30} {dtype:<15} {nulls:<10} {unique:<10}")
    
    # Missing data
    missing = df.isnull().sum()
    missing = missing[missing > 0]
    if len(missing) > 0:
        print(f"\n⚠️  Columns with missing data:")
        for col, count in missing.items():
            print(f"  • {col}: {count:,} ({count/len(df)*100:.1f}%)")
    
    # Duplicates
    dup_count = df.duplicated().sum()
    if dup_count > 0:
        print(f"\n⚠️  Duplicate rows: {dup_count:,} ({dup_count/len(df)*100:.1f}%)")
    
    # Sample data
    print("\nFirst 3 rows:")
    print(df.head(3))
    
    print("\n" + "="*60 + "\n")


# Usage - inspect all dataframes at once
dataframes = {
    'customers': customers,
    'orders': orders,
    'order_items': order_items,
    'products': products,
    'sellers': sellers,
    'payments': payments,
    'order_reviews': order_reviews,
    'geolocation': geolocation,
    'category_translation': category_translation
}

# Inspect all
for name, df in dataframes.items():
    inspect_data(df, name)

# Or inspect one at a time
# inspect_data(customers, 'customers')

============================================================
INSPECTING: customers
============================================================

Shape: 99,441 rows x 5 columns

Column Overview:
Column                         Type            Nulls      Unique
-----------------------------------------------------------------
customer_id                    object          0 (0.0%)   99441
customer_unique_id             object          0 (0.0%)   96096
customer_zip_code_prefix       int64           0 (0.0%)   14994
customer_city                  object          0 (0.0%)   4119
customer_state                 object          0 (0.0%)   27

First 3 rows:
                        customer_id                customer_unique_id  \
0  06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0
1  18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3
2  4e7b3e00288586ebd08712fdd0374a03  060e732b5b29e8181a18229c7b0b2b5e

   customer_zip_code_prefix          customer_city customer_state
0                     14409                 franca             SP
1                      9790  sao bernardo do campo             SP
2                      1151              sao paulo             SP

============================================================


============================================================
INSPECTING: orders
============================================================

Shape: 99,441 rows x 8 columns

Column Overview:
Column                         Type            Nulls      Unique
-----------------------------------------------------------------
order_id                       object          0 (0.0%)   99441
customer_id                    object          0 (0.0%)   99441
order_status                   object          0 (0.0%)   8
order_purchase_timestamp       object          0 (0.0%)   98875
order_approved_at              object          160 (0.2%) 90733
order_delivered_carrier_date   object          1783 (1.8%) 81018
order_delivered_customer_date  object          2965 (3.0%) 95664
order_estimated_delivery_date  object          0 (0.0%)   459

⚠️  Columns with missing data:
  • order_approved_at: 160 (0.2%)
  • order_delivered_carrier_date: 1,783 (1.8%)
  • order_delivered_customer_date: 2,965 (3.0%)

First 3 rows:
                           order_id                       customer_id  \
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef
2  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089

  order_status order_purchase_timestamp    order_approved_at  \
0    delivered      2017-10-02 10:56:33  2017-10-02 11:07:15
1    delivered      2018-07-24 20:41:37  2018-07-26 03:24:27
2    delivered      2018-08-08 08:38:49  2018-08-08 08:55:23

  order_delivered_carrier_date order_delivered_customer_date  \
0          2017-10-04 19:55:00           2017-10-10 21:25:13
1          2018-07-26 14:31:00           2018-08-07 15:27:45
2          2018-08-08 13:50:00           2018-08-17 18:06:29

  order_estimated_delivery_date
0           2017-10-18 00:00:00
1           2018-08-13 00:00:00
2           2018-09-04 00:00:00

============================================================


============================================================
INSPECTING: order_items
============================================================

Shape: 112,650 rows x 7 columns

Column Overview:
Column                         Type            Nulls      Unique
-----------------------------------------------------------------
order_id                       object          0 (0.0%)   98666
order_item_id                  int64           0 (0.0%)   21
product_id                     object          0 (0.0%)   32951
seller_id                      object          0 (0.0%)   3095
shipping_limit_date            object          0 (0.0%)   93318
price                          float64         0 (0.0%)   5968
freight_value                  float64         0 (0.0%)   6999

First 3 rows:
                           order_id  order_item_id  \
0  00010242fe8c5a6d1ba2dd792cb16214              1
1  00018f77f2f0320c557190d7a144bdd3              1
2  000229ec398224ef6ca0657da4fc703e              1

                         product_id                         seller_id  \
0  4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202
1  e5f2d52b802189ee658865ca93d83a8f  dd7ddc04e1b6c2c614352b383efe2d36
2  c777355d18b72b67abbeef9df44fd0fd  5b51032eddd242adc84c38acab88f23d

   shipping_limit_date  price  freight_value
0  2017-09-19 09:45:35   58.9          13.29
1  2017-05-03 11:05:13  239.9          19.93
2  2018-01-18 14:48:30  199.0          17.87

============================================================


============================================================
INSPECTING: products
============================================================

Shape: 32,951 rows x 9 columns

Column Overview:
Column                         Type            Nulls      Unique
-----------------------------------------------------------------
product_id                     object          0 (0.0%)   32951
product_category_name          object          610 (1.9%) 73
product_name_lenght            float64         610 (1.9%) 66
product_description_lenght     float64         610 (1.9%) 2960
product_photos_qty             float64         610 (1.9%) 19
product_weight_g               float64         2 (0.0%)   2204
product_length_cm              float64         2 (0.0%)   99
product_height_cm              float64         2 (0.0%)   102
product_width_cm               float64         2 (0.0%)   95

⚠️  Columns with missing data:
  • product_category_name: 610 (1.9%)
  • product_name_lenght: 610 (1.9%)
  • product_description_lenght: 610 (1.9%)
  • product_photos_qty: 610 (1.9%)
  • product_weight_g: 2 (0.0%)
  • product_length_cm: 2 (0.0%)
  • product_height_cm: 2 (0.0%)
  • product_width_cm: 2 (0.0%)

First 3 rows:
                         product_id product_category_name  \
0  1e9e8ef04dbcff4541ed26657ea517e5            perfumaria
1  3aa071139cb16b67ca9e5dea641aaa2f                 artes
2  96bd76ec8810374ed1b65e291975717f         esporte_lazer

   product_name_lenght  product_description_lenght  product_photos_qty  \
0                 40.0                       287.0                 1.0
1                 44.0                       276.0                 1.0
2                 46.0                       250.0                 1.0

   product_weight_g  product_length_cm  product_height_cm  product_width_cm
0             225.0               16.0               10.0              14.0
1            1000.0               30.0               18.0              20.0
2             154.0               18.0                9.0              15.0

============================================================


============================================================
INSPECTING: sellers
============================================================

Shape: 3,095 rows x 4 columns

Column Overview:
Column                         Type            Nulls      Unique
-----------------------------------------------------------------
seller_id                      object          0 (0.0%)   3095
seller_zip_code_prefix         int64           0 (0.0%)   2246
seller_city                    object          0 (0.0%)   611
seller_state                   object          0 (0.0%)   23

First 3 rows:
                          seller_id  seller_zip_code_prefix     seller_city  \
0  3442f8959a84dea7ee197c632cb2df15                   13023        campinas
1  d1b65fc7debc3361ea86b5f14c68d2e2                   13844      mogi guacu
2  ce3ad9de960102d0677a81f5d0bb7b2d                   20031  rio de janeiro

  seller_state
0           SP
1           SP
2           RJ

============================================================


============================================================
INSPECTING: payments
============================================================

Shape: 103,886 rows x 5 columns

Column Overview:
Column                         Type            Nulls      Unique
-----------------------------------------------------------------
order_id                       object          0 (0.0%)   99440
payment_sequential             int64           0 (0.0%)   29
payment_type                   object          0 (0.0%)   5
payment_installments           int64           0 (0.0%)   24
payment_value                  float64         0 (0.0%)   29077

First 3 rows:
                           order_id  payment_sequential payment_type  \
0  b81ef226f3fe1789b1e8b2acac839d17                   1  credit_card
1  a9810da82917af2d9aefd1278f1dcfa0                   1  credit_card
2  25e8ea4e93396b6fa0d3dd708e76c1bd                   1  credit_card

   payment_installments  payment_value
0                     8          99.33
1                     1          24.39
2                     1          65.71

============================================================


============================================================
INSPECTING: order_reviews
============================================================

Shape: 99,224 rows x 7 columns

Column Overview:
Column                         Type            Nulls      Unique
-----------------------------------------------------------------
review_id                      object          0 (0.0%)   98410
order_id                       object          0 (0.0%)   98673
review_score                   int64           0 (0.0%)   5
review_comment_title           object          87656 (88.3%) 4527
review_comment_message         object          58247 (58.7%) 36159
review_creation_date           object          0 (0.0%)   636
review_answer_timestamp        object          0 (0.0%)   98248

⚠️  Columns with missing data:
  • review_comment_title: 87,656 (88.3%)
  • review_comment_message: 58,247 (58.7%)

First 3 rows:
                          review_id                          order_id  \
0  7bc2406110b926393aa56f80a40eba40  73fc7af87114b39712e6da79b0a377eb
1  80e641a11e56f04c1ad469d5645fdfde  a548910a1c6147796b98fdf73dbeba33
2  228ce5500dc1d8e020d8d1322874b6f0  f9e4b658b201a9f2ecdecbb34bed034b

   review_score review_comment_title review_comment_message  \
0             4                  NaN                    NaN
1             5                  NaN                    NaN
2             5                  NaN                    NaN

  review_creation_date review_answer_timestamp
0  2018-01-18 00:00:00     2018-01-18 21:46:59
1  2018-03-10 00:00:00     2018-03-11 03:05:13
2  2018-02-17 00:00:00     2018-02-18 14:36:24

============================================================


============================================================
INSPECTING: geolocation
============================================================

Shape: 1,000,163 rows x 5 columns

Column Overview:
Column                         Type            Nulls      Unique
-----------------------------------------------------------------
geolocation_zip_code_prefix    int64           0 (0.0%)   19015
geolocation_lat                float64         0 (0.0%)   717360
geolocation_lng                float64         0 (0.0%)   717613
geolocation_city               object          0 (0.0%)   8011
geolocation_state              object          0 (0.0%)   27

⚠️  Duplicate rows: 261,831 (26.2%)

First 3 rows:
   geolocation_zip_code_prefix  geolocation_lat  geolocation_lng  \
0                         1037       -23.545621       -46.639292
1                         1046       -23.546081       -46.644820
2                         1046       -23.546129       -46.642951

  geolocation_city geolocation_state
0        sao paulo                SP
1        sao paulo                SP
2        sao paulo                SP

============================================================


============================================================
INSPECTING: category_translation
============================================================

Shape: 71 rows x 2 columns

Column Overview:
Column                         Type            Nulls      Unique
-----------------------------------------------------------------
product_category_name          object          0 (0.0%)   71
product_category_name_english  object          0 (0.0%)   71

First 3 rows:
    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto

============================================================

In [1]:
#mike