In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Date & time handling
from datetime import timedelta

In [ ]:
customers = pd.read_csv('data/olist_customers_dataset.csv')
orders = pd.read_csv('data/olist_orders_dataset.csv')
order_items = pd.read_csv('data/olist_order_items_dataset.csv')
products = pd.read_csv('data/olist_products_dataset.csv')
sellers = pd.read_csv('data/olist_sellers_dataset.csv')
payments = pd.read_csv('data/olist_order_payments_dataset.csv')
order_reviews = pd.read_csv('data/olist_order_reviews_dataset.csv')
geolocation = pd.read_csv('data/olist_geolocation_dataset.csv')
category_translation = pd.read_csv('data/product_category_name_translation.csv')

### check data loaded correctly

In [5]:
datasets = {
    "customers": customers,
    "orders": orders,
    "order_items": order_items,
    "products": products,
    "sellers": sellers,
    "payments": payments,
    "order_reviews": order_reviews,
    "geolocation": geolocation,
    "category_translation": category_translation
}

for name, df in datasets.items():
    print(f"{name}: {df.shape}")

customers: (99441, 5)
orders: (99441, 8)
order_items: (112650, 7)
products: (32951, 9)
sellers: (3095, 4)
payments: (103886, 5)
order_reviews: (99224, 7)
geolocation: (1000163, 5)
category_translation: (71, 2)

In [6]:
def inspect_data(df, name="DataFrame", key_cols=None):
    """Comprehensive inspection of a dataframe including datatypes, nulls, duplicates, and keys."""
    
    print(f"\n{'='*60}")
    print(f"INSPECTING: {name}")
    print(f"{'='*60}\n")
    
    # Basic info
    print(f"Shape: {df.shape[0]:,} rows x {df.shape[1]} columns\n")
    
    # Column overview
    print("Column Overview:")
    print(f"{'Column':<30} {'Type':<15} {'Nulls':<15} {'Unique':<10}")
    print("-" * 70)
    for col in df.columns:
        dtype = str(df[col].dtype)
        nulls = f"{df[col].isnull().sum()} ({df[col].isnull().sum()/len(df)*100:.1f}%)"
        unique = df[col].nunique()
        print(f"{col:<30} {dtype:<15} {nulls:<15} {unique:<10}")
    
    # Columns with missing data
    missing = df.isnull().sum()
    missing = missing[missing > 0]
    if len(missing) > 0:
        print(f"\n‚ö†Ô∏è  Columns with missing data:")
        for col, count in missing.items():
            print(f"  ‚Ä¢ {col}: {count:,} ({count/len(df)*100:.1f}%)")
    
    # Duplicate rows
    dup_count = df.duplicated().sum()
    if dup_count > 0:
        print(f"\n‚ö†Ô∏è  Duplicate rows: {dup_count:,} ({dup_count/len(df)*100:.1f}%)")
    
    # Key column duplicates (optional)
    if key_cols:
        for key in key_cols:
            if key in df.columns:
                dup_keys = df[key].duplicated().sum()
                if dup_keys > 0:
                    print(f"\n‚ö†Ô∏è  Duplicate values in key column '{key}': {dup_keys:,} "
                          f"({dup_keys/len(df)*100:.1f}%)")
    
    # Potential datetime columns
    datetime_cols = [col for col in df.columns if 'date' in col.lower() or 'timestamp' in col.lower()]
    if datetime_cols:
        print("\nüìÖ Potential datetime columns detected:")
        for col in datetime_cols:
            print(f"  ‚Ä¢ {col} ({df[col].dtype})")
    
    # Sample data
    print("\nFirst 3 rows:")
    print(df.head(3))
    
    print("\n" + "="*60 + "\n")


# -----------------------------
# Usage: Inspect all datasets consistently
# -----------------------------

primary_keys = {
    'customers': ['customer_id'],
    'orders': ['order_id'],
    'order_items': ['order_item_id', 'order_id'],
    'products': ['product_id'],
    'sellers': ['seller_id'],
    'payments': ['payment_sequential', 'order_id'],
    'order_reviews': ['review_id', 'order_id'],
    'geolocation': ['geolocation_zip_code_prefix'],
    'category_translation': ['product_category_name']
}

# Inspect all datasets
for name, df in datasets.items():
    keys = primary_keys.get(name, None)
    inspect_data(df, name, key_cols=keys)

============================================================
INSPECTING: customers
============================================================

Shape: 99,441 rows x 5 columns

Column Overview:
Column                         Type            Nulls           Unique
----------------------------------------------------------------------
customer_id                    object          0 (0.0%)        99441
customer_unique_id             object          0 (0.0%)        96096
customer_zip_code_prefix       int64           0 (0.0%)        14994
customer_city                  object          0 (0.0%)        4119
customer_state                 object          0 (0.0%)        27

First 3 rows:
                        customer_id                customer_unique_id  \
0  06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0
1  18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3
2  4e7b3e00288586ebd08712fdd0374a03  060e732b5b29e8181a18229c7b0b2b5e

   customer_zip_code_prefix          customer_city customer_state
0                     14409                 franca             SP
1                      9790  sao bernardo do campo             SP
2                      1151              sao paulo             SP

============================================================


============================================================
INSPECTING: orders
============================================================

Shape: 99,441 rows x 8 columns

Column Overview:
Column                         Type            Nulls           Unique
----------------------------------------------------------------------
order_id                       object          0 (0.0%)        99441
customer_id                    object          0 (0.0%)        99441
order_status                   object          0 (0.0%)        8
order_purchase_timestamp       object          0 (0.0%)        98875
order_approved_at              object          160 (0.2%)      90733
order_delivered_carrier_date   object          1783 (1.8%)     81018
order_delivered_customer_date  object          2965 (3.0%)     95664
order_estimated_delivery_date  object          0 (0.0%)        459

‚ö†Ô∏è  Columns with missing data:
  ‚Ä¢ order_approved_at: 160 (0.2%)
  ‚Ä¢ order_delivered_carrier_date: 1,783 (1.8%)
  ‚Ä¢ order_delivered_customer_date: 2,965 (3.0%)

üìÖ Potential datetime columns detected:
  ‚Ä¢ order_purchase_timestamp (object)
  ‚Ä¢ order_delivered_carrier_date (object)
  ‚Ä¢ order_delivered_customer_date (object)
  ‚Ä¢ order_estimated_delivery_date (object)

First 3 rows:
                           order_id                       customer_id  \
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef
2  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089

  order_status order_purchase_timestamp    order_approved_at  \
0    delivered      2017-10-02 10:56:33  2017-10-02 11:07:15
1    delivered      2018-07-24 20:41:37  2018-07-26 03:24:27
2    delivered      2018-08-08 08:38:49  2018-08-08 08:55:23

  order_delivered_carrier_date order_delivered_customer_date  \
0          2017-10-04 19:55:00           2017-10-10 21:25:13
1          2018-07-26 14:31:00           2018-08-07 15:27:45
2          2018-08-08 13:50:00           2018-08-17 18:06:29

  order_estimated_delivery_date
0           2017-10-18 00:00:00
1           2018-08-13 00:00:00
2           2018-09-04 00:00:00

============================================================


============================================================
INSPECTING: order_items
============================================================

Shape: 112,650 rows x 7 columns

Column Overview:
Column                         Type            Nulls           Unique
----------------------------------------------------------------------
order_id                       object          0 (0.0%)        98666
order_item_id                  int64           0 (0.0%)        21
product_id                     object          0 (0.0%)        32951
seller_id                      object          0 (0.0%)        3095
shipping_limit_date            object          0 (0.0%)        93318
price                          float64         0 (0.0%)        5968
freight_value                  float64         0 (0.0%)        6999

‚ö†Ô∏è  Duplicate values in key column 'order_item_id': 112,629 (100.0%)

‚ö†Ô∏è  Duplicate values in key column 'order_id': 13,984 (12.4%)

üìÖ Potential datetime columns detected:
  ‚Ä¢ shipping_limit_date (object)

First 3 rows:
                           order_id  order_item_id  \
0  00010242fe8c5a6d1ba2dd792cb16214              1
1  00018f77f2f0320c557190d7a144bdd3              1
2  000229ec398224ef6ca0657da4fc703e              1

                         product_id                         seller_id  \
0  4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202
1  e5f2d52b802189ee658865ca93d83a8f  dd7ddc04e1b6c2c614352b383efe2d36
2  c777355d18b72b67abbeef9df44fd0fd  5b51032eddd242adc84c38acab88f23d

   shipping_limit_date  price  freight_value
0  2017-09-19 09:45:35   58.9          13.29
1  2017-05-03 11:05:13  239.9          19.93
2  2018-01-18 14:48:30  199.0          17.87

============================================================


============================================================
INSPECTING: products
============================================================

Shape: 32,951 rows x 9 columns

Column Overview:
Column                         Type            Nulls           Unique
----------------------------------------------------------------------
product_id                     object          0 (0.0%)        32951
product_category_name          object          610 (1.9%)      73
product_name_lenght            float64         610 (1.9%)      66
product_description_lenght     float64         610 (1.9%)      2960
product_photos_qty             float64         610 (1.9%)      19
product_weight_g               float64         2 (0.0%)        2204
product_length_cm              float64         2 (0.0%)        99
product_height_cm              float64         2 (0.0%)        102
product_width_cm               float64         2 (0.0%)        95

‚ö†Ô∏è  Columns with missing data:
  ‚Ä¢ product_category_name: 610 (1.9%)
  ‚Ä¢ product_name_lenght: 610 (1.9%)
  ‚Ä¢ product_description_lenght: 610 (1.9%)
  ‚Ä¢ product_photos_qty: 610 (1.9%)
  ‚Ä¢ product_weight_g: 2 (0.0%)
  ‚Ä¢ product_length_cm: 2 (0.0%)
  ‚Ä¢ product_height_cm: 2 (0.0%)
  ‚Ä¢ product_width_cm: 2 (0.0%)

First 3 rows:
                         product_id product_category_name  \
0  1e9e8ef04dbcff4541ed26657ea517e5            perfumaria
1  3aa071139cb16b67ca9e5dea641aaa2f                 artes
2  96bd76ec8810374ed1b65e291975717f         esporte_lazer

   product_name_lenght  product_description_lenght  product_photos_qty  \
0                 40.0                       287.0                 1.0
1                 44.0                       276.0                 1.0
2                 46.0                       250.0                 1.0

   product_weight_g  product_length_cm  product_height_cm  product_width_cm
0             225.0               16.0               10.0              14.0
1            1000.0               30.0               18.0              20.0
2             154.0               18.0                9.0              15.0

============================================================


============================================================
INSPECTING: sellers
============================================================

Shape: 3,095 rows x 4 columns

Column Overview:
Column                         Type            Nulls           Unique
----------------------------------------------------------------------
seller_id                      object          0 (0.0%)        3095
seller_zip_code_prefix         int64           0 (0.0%)        2246
seller_city                    object          0 (0.0%)        611
seller_state                   object          0 (0.0%)        23

First 3 rows:
                          seller_id  seller_zip_code_prefix     seller_city  \
0  3442f8959a84dea7ee197c632cb2df15                   13023        campinas
1  d1b65fc7debc3361ea86b5f14c68d2e2                   13844      mogi guacu
2  ce3ad9de960102d0677a81f5d0bb7b2d                   20031  rio de janeiro

  seller_state
0           SP
1           SP
2           RJ

============================================================


============================================================
INSPECTING: payments
============================================================

Shape: 103,886 rows x 5 columns

Column Overview:
Column                         Type            Nulls           Unique
----------------------------------------------------------------------
order_id                       object          0 (0.0%)        99440
payment_sequential             int64           0 (0.0%)        29
payment_type                   object          0 (0.0%)        5
payment_installments           int64           0 (0.0%)        24
payment_value                  float64         0 (0.0%)        29077

‚ö†Ô∏è  Duplicate values in key column 'payment_sequential': 103,857 (100.0%)

‚ö†Ô∏è  Duplicate values in key column 'order_id': 4,446 (4.3%)

First 3 rows:
                           order_id  payment_sequential payment_type  \
0  b81ef226f3fe1789b1e8b2acac839d17                   1  credit_card
1  a9810da82917af2d9aefd1278f1dcfa0                   1  credit_card
2  25e8ea4e93396b6fa0d3dd708e76c1bd                   1  credit_card

   payment_installments  payment_value
0                     8          99.33
1                     1          24.39
2                     1          65.71

============================================================


============================================================
INSPECTING: order_reviews
============================================================

Shape: 99,224 rows x 7 columns

Column Overview:
Column                         Type            Nulls           Unique
----------------------------------------------------------------------
review_id                      object          0 (0.0%)        98410
order_id                       object          0 (0.0%)        98673
review_score                   int64           0 (0.0%)        5
review_comment_title           object          87656 (88.3%)   4527
review_comment_message         object          58247 (58.7%)   36159
review_creation_date           object          0 (0.0%)        636
review_answer_timestamp        object          0 (0.0%)        98248

‚ö†Ô∏è  Columns with missing data:
  ‚Ä¢ review_comment_title: 87,656 (88.3%)
  ‚Ä¢ review_comment_message: 58,247 (58.7%)

‚ö†Ô∏è  Duplicate values in key column 'review_id': 814 (0.8%)

‚ö†Ô∏è  Duplicate values in key column 'order_id': 551 (0.6%)

üìÖ Potential datetime columns detected:
  ‚Ä¢ review_creation_date (object)
  ‚Ä¢ review_answer_timestamp (object)

First 3 rows:
                          review_id                          order_id  \
0  7bc2406110b926393aa56f80a40eba40  73fc7af87114b39712e6da79b0a377eb
1  80e641a11e56f04c1ad469d5645fdfde  a548910a1c6147796b98fdf73dbeba33
2  228ce5500dc1d8e020d8d1322874b6f0  f9e4b658b201a9f2ecdecbb34bed034b

   review_score review_comment_title review_comment_message  \
0             4                  NaN                    NaN
1             5                  NaN                    NaN
2             5                  NaN                    NaN

  review_creation_date review_answer_timestamp
0  2018-01-18 00:00:00     2018-01-18 21:46:59
1  2018-03-10 00:00:00     2018-03-11 03:05:13
2  2018-02-17 00:00:00     2018-02-18 14:36:24

============================================================


============================================================
INSPECTING: geolocation
============================================================

Shape: 1,000,163 rows x 5 columns

Column Overview:
Column                         Type            Nulls           Unique
----------------------------------------------------------------------
geolocation_zip_code_prefix    int64           0 (0.0%)        19015
geolocation_lat                float64         0 (0.0%)        717360
geolocation_lng                float64         0 (0.0%)        717613
geolocation_city               object          0 (0.0%)        8011
geolocation_state              object          0 (0.0%)        27

‚ö†Ô∏è  Duplicate rows: 261,831 (26.2%)

‚ö†Ô∏è  Duplicate values in key column 'geolocation_zip_code_prefix': 981,148 (98.1%)

First 3 rows:
   geolocation_zip_code_prefix  geolocation_lat  geolocation_lng  \
0                         1037       -23.545621       -46.639292
1                         1046       -23.546081       -46.644820
2                         1046       -23.546129       -46.642951

  geolocation_city geolocation_state
0        sao paulo                SP
1        sao paulo                SP
2        sao paulo                SP

============================================================


============================================================
INSPECTING: category_translation
============================================================

Shape: 71 rows x 2 columns

Column Overview:
Column                         Type            Nulls           Unique
----------------------------------------------------------------------
product_category_name          object          0 (0.0%)        71
product_category_name_english  object          0 (0.0%)        71

First 3 rows:
    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto

============================================================

### Data Inspection Summary

- **Orders:** Some missing values (`order_approved_at`, `order_delivered_carrier_date`, `order_delivered_customer_date`). All date/timestamp columns need conversion to `datetime`.  
- **Order Items:** Duplicate keys exist (`order_item_id` resets per order; multi-item orders cause `order_id` duplicates). `shipping_limit_date` requires datetime conversion.  
- **Products:** Small percentage of missing values in `product_category_name` and numeric columns (1.9%).  
- **Payments:** Duplicate keys are expected due to multiple payments per order. No missing values.  
- **Order Reviews:** Missing text fields (`review_comment_title`, `review_comment_message`). Minor duplicate keys exist. Datetime columns need conversion.  
- **Geolocation:** High row and key duplication due to multiple lat/lng entries per zip code.  
- **Customers, Sellers, Category Translation:** Clean, no missing values or duplicates.

### Data Cleaning

In [7]:
# -----------------------------
# 1Ô∏è‚É£ Convert all datetime columns in datasets
# -----------------------------

# Define datetime columns per table
datetime_columns = {
    "orders": [
        "order_purchase_timestamp",
        "order_approved_at",
        "order_delivered_carrier_date",
        "order_delivered_customer_date",
        "order_estimated_delivery_date"
    ],
    "order_items": [
        "shipping_limit_date"
    ],
    "order_reviews": [
        "review_creation_date",
        "review_answer_timestamp"
    ]
}

# Convert columns to datetime
for table_name, cols in datetime_columns.items():
    df = datasets[table_name]  # get dataframe
    for col in cols:
        if col in df.columns:
            df[col] = pd.to_datetime(df[col], errors='coerce')  # coerce invalid formats to NaT
            print(f"{table_name} -> {col}: converted to datetime, nulls after conversion = {df[col].isnull().sum()}")
    datasets[table_name] = df  # update dataframe in datasets dict

# Quick check
for table_name in datetime_columns.keys():
    df = datasets[table_name]
    print(f"\n{table_name} datetime columns:")
    for col in datetime_columns[table_name]:
        print(f"  ‚Ä¢ {col}: dtype = {df[col].dtype}, nulls = {df[col].isnull().sum()}")

orders -> order_purchase_timestamp: converted to datetime, nulls after conversion = 0
orders -> order_approved_at: converted to datetime, nulls after conversion = 160
orders -> order_delivered_carrier_date: converted to datetime, nulls after conversion = 1783
orders -> order_delivered_customer_date: converted to datetime, nulls after conversion = 2965
orders -> order_estimated_delivery_date: converted to datetime, nulls after conversion = 0
order_items -> shipping_limit_date: converted to datetime, nulls after conversion = 0
order_reviews -> review_creation_date: converted to datetime, nulls after conversion = 0
order_reviews -> review_answer_timestamp: converted to datetime, nulls after conversion = 0

orders datetime columns:
  ‚Ä¢ order_purchase_timestamp: dtype = datetime64[ns], nulls = 0
  ‚Ä¢ order_approved_at: dtype = datetime64[ns], nulls = 160
  ‚Ä¢ order_delivered_carrier_date: dtype = datetime64[ns], nulls = 1783
  ‚Ä¢ order_delivered_customer_date: dtype = datetime64[ns], nulls = 2965
  ‚Ä¢ order_estimated_delivery_date: dtype = datetime64[ns], nulls = 0

order_items datetime columns:
  ‚Ä¢ shipping_limit_date: dtype = datetime64[ns], nulls = 0

order_reviews datetime columns:
  ‚Ä¢ review_creation_date: dtype = datetime64[ns], nulls = 0
  ‚Ä¢ review_answer_timestamp: dtype = datetime64[ns], nulls = 0

In [8]:
# -----------------------------
# Check datatypes and sample data for all datasets
# -----------------------------

for name, df in datasets.items():
    print(f"\n{'='*60}")
    print(f"TABLE: {name} | Shape: {df.shape[0]:,} rows x {df.shape[1]} columns")
    print(f"{'='*60}\n")
    
    # Show datatypes
    print("Column datatypes:")
    print(df.dtypes)
    
    # Show first 5 rows
    print("\nFirst 5 rows:")
    print(df.head())
    
    print("\n" + "-"*60 + "\n")

============================================================
TABLE: customers | Shape: 99,441 rows x 5 columns
============================================================

Column datatypes:
customer_id                 object
customer_unique_id          object
customer_zip_code_prefix     int64
customer_city               object
customer_state              object
dtype: object

First 5 rows:
                        customer_id                customer_unique_id  \
0  06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0
1  18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3
2  4e7b3e00288586ebd08712fdd0374a03  060e732b5b29e8181a18229c7b0b2b5e
3  b2b6027bc5c5109e529d4dc6358b12c3  259dac757896d24d7702b9acbbff3f3c
4  4f2d8ab171c80ec8364f7c12e35b23ad  345ecd01c38d18a9036ed96c73b8d066

   customer_zip_code_prefix          customer_city customer_state
0                     14409                 franca             SP
1                      9790  sao bernardo do campo             SP
2                      1151              sao paulo             SP
3                      8775        mogi das cruzes             SP
4                     13056               campinas             SP

------------------------------------------------------------


============================================================
TABLE: orders | Shape: 99,441 rows x 8 columns
============================================================

Column datatypes:
order_id                                 object
customer_id                              object
order_status                             object
order_purchase_timestamp         datetime64[ns]
order_approved_at                datetime64[ns]
order_delivered_carrier_date     datetime64[ns]
order_delivered_customer_date    datetime64[ns]
order_estimated_delivery_date    datetime64[ns]
dtype: object

First 5 rows:
                           order_id                       customer_id  \
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef
2  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089
3  949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82
4  ad21c59c0840e6cb83a9ceb5573f8159  8ab97904e6daea8866dbdbc4fb7aad2c

  order_status order_purchase_timestamp   order_approved_at  \
0    delivered      2017-10-02 10:56:33 2017-10-02 11:07:15
1    delivered      2018-07-24 20:41:37 2018-07-26 03:24:27
2    delivered      2018-08-08 08:38:49 2018-08-08 08:55:23
3    delivered      2017-11-18 19:28:06 2017-11-18 19:45:59
4    delivered      2018-02-13 21:18:39 2018-02-13 22:20:29

  order_delivered_carrier_date order_delivered_customer_date  \
0          2017-10-04 19:55:00           2017-10-10 21:25:13
1          2018-07-26 14:31:00           2018-08-07 15:27:45
2          2018-08-08 13:50:00           2018-08-17 18:06:29
3          2017-11-22 13:39:59           2017-12-02 00:28:42
4          2018-02-14 19:46:34           2018-02-16 18:17:02

  order_estimated_delivery_date
0                    2017-10-18
1                    2018-08-13
2                    2018-09-04
3                    2017-12-15
4                    2018-02-26

------------------------------------------------------------


============================================================
TABLE: order_items | Shape: 112,650 rows x 7 columns
============================================================

Column datatypes:
order_id                       object
order_item_id                   int64
product_id                     object
seller_id                      object
shipping_limit_date    datetime64[ns]
price                         float64
freight_value                 float64
dtype: object

First 5 rows:
                           order_id  order_item_id  \
0  00010242fe8c5a6d1ba2dd792cb16214              1
1  00018f77f2f0320c557190d7a144bdd3              1
2  000229ec398224ef6ca0657da4fc703e              1
3  00024acbcdf0a6daa1e931b038114c75              1
4  00042b26cf59d7ce69dfabb4e55b4fd9              1

                         product_id                         seller_id  \
0  4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202
1  e5f2d52b802189ee658865ca93d83a8f  dd7ddc04e1b6c2c614352b383efe2d36
2  c777355d18b72b67abbeef9df44fd0fd  5b51032eddd242adc84c38acab88f23d
3  7634da152a4610f1595efa32f14722fc  9d7a1d34a5052409006425275ba1c2b4
4  ac6c3623068f30de03045865e4e10089  df560393f3a51e74553ab94004ba5c87

  shipping_limit_date   price  freight_value
0 2017-09-19 09:45:35   58.90          13.29
1 2017-05-03 11:05:13  239.90          19.93
2 2018-01-18 14:48:30  199.00          17.87
3 2018-08-15 10:10:18   12.99          12.79
4 2017-02-13 13:57:51  199.90          18.14

------------------------------------------------------------


============================================================
TABLE: products | Shape: 32,951 rows x 9 columns
============================================================

Column datatypes:
product_id                     object
product_category_name          object
product_name_lenght           float64
product_description_lenght    float64
product_photos_qty            float64
product_weight_g              float64
product_length_cm             float64
product_height_cm             float64
product_width_cm              float64
dtype: object

First 5 rows:
                         product_id  product_category_name  \
0  1e9e8ef04dbcff4541ed26657ea517e5             perfumaria
1  3aa071139cb16b67ca9e5dea641aaa2f                  artes
2  96bd76ec8810374ed1b65e291975717f          esporte_lazer
3  cef67bcfe19066a932b7673e239eb23d                  bebes
4  9dc1a7de274444849c219cff195d0b71  utilidades_domesticas

   product_name_lenght  product_description_lenght  product_photos_qty  \
0                 40.0                       287.0                 1.0
1                 44.0                       276.0                 1.0
2                 46.0                       250.0                 1.0
3                 27.0                       261.0                 1.0
4                 37.0                       402.0                 4.0

   product_weight_g  product_length_cm  product_height_cm  product_width_cm
0             225.0               16.0               10.0              14.0
1            1000.0               30.0               18.0              20.0
2             154.0               18.0                9.0              15.0
3             371.0               26.0                4.0              26.0
4             625.0               20.0               17.0              13.0

------------------------------------------------------------


============================================================
TABLE: sellers | Shape: 3,095 rows x 4 columns
============================================================

Column datatypes:
seller_id                 object
seller_zip_code_prefix     int64
seller_city               object
seller_state              object
dtype: object

First 5 rows:
                          seller_id  seller_zip_code_prefix  \
0  3442f8959a84dea7ee197c632cb2df15                   13023
1  d1b65fc7debc3361ea86b5f14c68d2e2                   13844
2  ce3ad9de960102d0677a81f5d0bb7b2d                   20031
3  c0f3eea2e14555b6faeea3dd58c1b1c3                    4195
4  51a04a8a6bdcb23deccc82b0b80742cf                   12914

         seller_city seller_state
0           campinas           SP
1         mogi guacu           SP
2     rio de janeiro           RJ
3          sao paulo           SP
4  braganca paulista           SP

------------------------------------------------------------


============================================================
TABLE: payments | Shape: 103,886 rows x 5 columns
============================================================

Column datatypes:
order_id                 object
payment_sequential        int64
payment_type             object
payment_installments      int64
payment_value           float64
dtype: object

First 5 rows:
                           order_id  payment_sequential payment_type  \
0  b81ef226f3fe1789b1e8b2acac839d17                   1  credit_card
1  a9810da82917af2d9aefd1278f1dcfa0                   1  credit_card
2  25e8ea4e93396b6fa0d3dd708e76c1bd                   1  credit_card
3  ba78997921bbcdc1373bb41e913ab953                   1  credit_card
4  42fdf880ba16b47b59251dd489d4441a                   1  credit_card

   payment_installments  payment_value
0                     8          99.33
1                     1          24.39
2                     1          65.71
3                     8         107.78
4                     2         128.45

------------------------------------------------------------


============================================================
TABLE: order_reviews | Shape: 99,224 rows x 7 columns
============================================================

Column datatypes:
review_id                          object
order_id                           object
review_score                        int64
review_comment_title               object
review_comment_message             object
review_creation_date       datetime64[ns]
review_answer_timestamp    datetime64[ns]
dtype: object

First 5 rows:
                          review_id                          order_id  \
0  7bc2406110b926393aa56f80a40eba40  73fc7af87114b39712e6da79b0a377eb
1  80e641a11e56f04c1ad469d5645fdfde  a548910a1c6147796b98fdf73dbeba33
2  228ce5500dc1d8e020d8d1322874b6f0  f9e4b658b201a9f2ecdecbb34bed034b
3  e64fb393e7b32834bb789ff8bb30750e  658677c97b385a9be170737859d3511b
4  f7c4243c7fe1938f181bec41a392bdeb  8e6bfb81e283fa7e4f11123a3fb894f1

   review_score review_comment_title  \
0             4                  NaN
1             5                  NaN
2             5                  NaN
3             5                  NaN
4             5                  NaN

                              review_comment_message review_creation_date  \
0                                                NaN           2018-01-18
1                                                NaN           2018-03-10
2                                                NaN           2018-02-17
3              Recebi bem antes do prazo estipulado.           2017-04-21
4  Parab√©ns lojas lannister adorei comprar pela I...           2018-03-01

  review_answer_timestamp
0     2018-01-18 21:46:59
1     2018-03-11 03:05:13
2     2018-02-18 14:36:24
3     2017-04-21 22:02:06
4     2018-03-02 10:26:53

------------------------------------------------------------


============================================================
TABLE: geolocation | Shape: 1,000,163 rows x 5 columns
============================================================

Column datatypes:
geolocation_zip_code_prefix      int64
geolocation_lat                float64
geolocation_lng                float64
geolocation_city                object
geolocation_state               object
dtype: object

First 5 rows:
   geolocation_zip_code_prefix  geolocation_lat  geolocation_lng  \
0                         1037       -23.545621       -46.639292
1                         1046       -23.546081       -46.644820
2                         1046       -23.546129       -46.642951
3                         1041       -23.544392       -46.639499
4                         1035       -23.541578       -46.641607

  geolocation_city geolocation_state
0        sao paulo                SP
1        sao paulo                SP
2        sao paulo                SP
3        sao paulo                SP
4        sao paulo                SP

------------------------------------------------------------


============================================================
TABLE: category_translation | Shape: 71 rows x 2 columns
============================================================

Column datatypes:
product_category_name            object
product_category_name_english    object
dtype: object

First 5 rows:
    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

------------------------------------------------------------

In [ ]:
# ==========================
# CLEANING ORDERS TABLE
# ==========================

# Check missing values before cleaning
print("Missing values in 'orders' before cleaning:")
print(orders[['order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date']].isnull().sum())

# Step 1: Handle missing 'order_approved_at'
# Usually these are very few; we can leave them as NaT or filter if needed later
# Step 2: Handle missing delivery dates
# Some missing delivery dates may indicate canceled or pending orders
# Let‚Äôs mark those rows as 'canceled' in a new column

orders['order_status_clean'] = orders['order_status']
orders.loc[orders['order_delivered_customer_date'].isnull(), 'order_status_clean'] = 'canceled'

# Step 3: Optional: Fill missing 'approved_at' with 'purchase_timestamp' if status is delivered
mask_missing_approved = orders['order_approved_at'].isnull() & (orders['order_status_clean'] != 'canceled')
orders.loc[mask_missing_approved, 'order_approved_at'] = orders.loc[mask_missing_approved, 'order_purchase_timestamp']

# Step 4: Verify cleaning
print("\nMissing values after cleaning:")
print(orders[['order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date']].isnull().sum())

# Step 5: Quick check of status distribution
print("\nOrder status distribution after cleaning:")
print(orders['order_status_clean'].value_counts())